# Terraform files
*.tfstate
*.tfstate.*
*.backup
.terraform/                   # Exclude the .terraform directory
crash.log
*.tfvars
*.tfvars.json

# Ignore Terraform lock files and provider binaries
.terraform.lock.hcl

# Ignore any sensitive environment files
.env

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore compressed files
*.zip
*.tar.gz
*.rar

