# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.*

# Ignore backup files
*.backup

# Ignore Terraform-specific lock file
.terraform.lock.hcl

# Ignore Terraform directories
.terraform/

# Ignore kubeconfig (as it may contain sensitive information)
kubeconfig

# Ignore any potential crash logs or Terraform crash reports
crash.log

# Helm-specific ignores
charts/
*.tgz
*.tpl
.helmignore

# System files
.DS_Store
Thumbs.db

# Ignore IDE and editor files
.vscode/
.idea/
node_modules/
_pycache_/
*.pyc

